#sample_list {
    color: red;
}

audio {

  width: 300px; /* default is usually ~300px */
  height: 25px; /* some browsers respect this */
  transform: scale(0.8);
  transform-origin: right center;

}
body{
    color: white;
    background-color: black;
}
